ul {
  padding-left: 0;
  list-style: none;
}

td {
  width: 33%;
  text-align: center;
  vertical-align: middle!important;
  padding: 20px 20px 20px!important;
}

.pokemon {
  max-width: 120px;
  max-height: 120px;
  margin: auto;
  background: #CDE9E6;
  border: 10px solid #CDE9E6;
  border-radius: 100px;
  vertical-align: middle;
}

.pokemon:hover {
  background: #F36F6F;
}

.bgeffect {
  background: #EFEFEF;
  border: 10px solid #EFEFEF;
  border-radius: 10px;
}

.capitalized {
  text-transform: capitalize;
}

.poke {
  max-width: 120px!important;
  max-height: 120px!important;
  cursor: pointer; cursor: hand;
}

.poke:hover {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.paginate {
  text-align: center;
  font-size: 14px;
}

.info_pic {
  display: block;
  margin: auto;
  background: #CDE9E6;
  border: 10px solid #CDE9E6;
  border-radius: 100px;
  vertical-align: middle;
}

.loading {
  text-align: center;
}

.mew {
  display: block;
  margin: 100px auto;
  width: 150px;
  height: 150px;
}

.progress-label {
  font-weight: bold;
}

.types {
  font-size: 14px;
}

.loading_text {
  text-align: center;
}

@media all and (max-width: 1024px) {
  td {
    font-size: 10px;
  }

  .pokemon {
    width: 90px;
    height: 90px;
  }

  img {
    width: 90px;
    height: 90px;
  }

}