ul {
  padding-left: 0;
  list-style: none;
}

td {
  width: 50%;
  text-align: center;
  vertical-align: middle!important;
  padding: 20px 20px 20px!important;
}

.pokemon {
  background: #CDE9E6;
  border: 10px solid #CDE9E6;
  border-radius: 100px;
}

.name {
  background: #EFEFEF;
  border: 10px solid #EFEFEF;
  border-radius: 10px;
}

.capitalized {
  text-transform: capitalize;
}

img {
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto;
}

.page {
  text-align: center;
  font-size: 14px;
}