ul {
  padding-left: 0;
  list-style: none;
}

td {
  width: 33%;
  text-align: center;
  vertical-align: middle!important;
  padding: 20px 20px 20px!important;
}

.pokemon {
  max-width: 120px;
  max-height: 120px;
  margin: auto;
  background: #CDE9E6;
  border: 10px solid #CDE9E6;
  border-radius: 100px;
  vertical-align: middle;
}

.pokemon:hover {
  background: #F36F6F;
}

.bgeffect {
  background: #EFEFEF;
  border: 10px solid #EFEFEF;
  border-radius: 10px;
}

.capitalized {
  text-transform: capitalize;
}

.poke {
  max-width: 120px!important;
  max-height: 120px!important;
  cursor: pointer; cursor: hand;
}

.poke:hover {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.paginate {
  text-align: center;
  font-size: 14px;
}

.info_pic {
  display: block;
  margin: auto;
  background: #CDE9E6;
  border: 10px solid #CDE9E6;
  border-radius: 100px;
  vertical-align: middle;
}

.loading {
  text-align: center;
}

.mew {
  display: block;
  margin: 100px auto;
  width: 150px;
  height: 150px;
}

.progress-label {
  font-weight: bold;
}

.types {
  font-size: 14px;
}

.loading_text {
  text-align: center;
}

.label-fire {
  background-color: #B94200;
}

.label-water {
  background-color: #007AB8;
}

.label-rock {
  background-color: #A06A41;
}

.label-dark {
  background-color: #291F19;
}

.label-fighting {
  background-color: #C50008;
}

.label-normal {
  background-color: #767658;
}

.label-ice {
  background-color: #8AB4C8;
}

.label-steel {
  background-color: #646C71;
}

.label-flying {
  background-color: #655188;
}

.label-grass {
  background-color: #38A12A;
}

.label-bug {
  background-color: #A4B944;
}

.label-fairy {
  background-color: #9F0242;
}

.label-poison {
  background-color: #A127AB;
}

.label-electric {
  background-color: #B8B30F;
}

.label-dragon {
  background-color: #4A45BB;
}

.label-ground {
  background-color: #A0853C;
}

.label-psychic {
  background-color: #AF254D;
}

.label-ghost {
  background-color: #6555B0;
}

@media all and (max-width: 1024px) {
  td {
    font-size: 10px;
  }

  .pokemon {
    width: 90px;
    height: 90px;
  }

  img {
    width: 90px;
    height: 90px;
  }

}